/* IMPOSTAZIONI GENERALI */
body {
 font-family: 'Raleway', sans-serif;
 margin-left: 5%;
}

h2 {
    color: #489ec2;
    text-align: center;
    margin: 1em;
    font-size: 20px;
    font-weight: revert;
    text-transform: uppercase;
}
h3{
    font-weight: bold;
    margin: 1em;
    border-left: 0px;
    margin: 1em 1em 1em 0em;
}




 

/* HEADER */

header {
    background-color: #489ec2;
    color: white;
    border-bottom: 3px solid  #337492 ;
    text-align: center;
line-height: 2;
margin-bottom: 1.5em;
}
h1{
    text-transform: uppercase;
    font-size: 22px;
}
span {
    background-color: white;
    color: #489ec2;
}
#h2_black {
    color: black;
    margin: 5%;
    font-weight: lighter;
}
#h2_black span{
    font-weight: bold;
}
 

/* MAIN */

#fig_img {
    border: 1px solid rgb(176, 176, 176);
    padding: 3px;
    text-align: center;
    margin-right: 25%;
    margin-left: 20%;
}

figcaption{
    text-align: center;
    margin: 1em;
}

address {
    margin: 1em;
}
#aboutme{
    margin: 1em;
}

blockquote {
    background-color: rgb(173, 173, 173);
    text-align: center;
    border-radius: 2em;
 margin-right: 5%;
 margin-left: 5%;
 padding: 1em;
    
}
hr {
    border-top: 1px dotted black;
    margin: 2em;
}

.strong_blue{
    color: #489ec2;
}
mark {
    background-color: #489ec2;
}
a {
    color: orangered;
}
a:hover {
    color: hotpink;
}
a:visited {
    color: yellow;
}
ul{
    padding: 2em;
}
strong{
    color: #489ec2;
}
dl dd{
    text-indent: 1em;
}


    











/* ELEMENTI NEL MAIN */

/* FOOTER */
footer {
    background-color: rgb(46, 46, 46);
    border-top:3px solid #489ec2;
    text-align: center;

}
kbd{
    color: yellow;
}
small{
    color: grey;
    margin: 2em;
}
.p_white{
    color: white;
    margin: 2em;
}