/* IMPOSTAZIONI GENERALI */
body {
 font-family: 'Raleway', sans-serif;
}

h2 {
    color: #489ec2;
    text-align: center;
    margin: 1em;
    font-size: 20px;
    font-weight: revert;
}
h3{
    font-weight: bold;
    margin: 1em;
    border-left: 0px;
}




 

/* HEADER */

header {
    background-color: #489ec2;
    color: white;
    border-bottom: 3px solid  #337492 ;
    text-align: center;
line-height: 2;
margin-bottom: 1.5em;
    
}
span {
    background-color: white;
    color: #489ec2;
}
#h2_black {
    color: black;
    margin: 5%;
}
 

/* MAIN */

#fig_img {
    border: 1px solid grey;
    padding: 3px;
    text-align: center;
    margin-right: 25%;
    margin-left: 20%;
}

figcaption{
    text-align: center;
    margin: 1em;
}

address {
    margin: 1em;
}
#aboutme{
    margin: 1em;
}

blockquote {
    background-color: rgb(173, 173, 173);
    text-align: center;
    border-radius: 2em;
 margin-right: 5%;
 margin-left: 5%;
 padding: 1em;
    
}
hr {
    border-top: 1px dotted black;
    margin: 2em;
}

.strong_blue{
    color: #489ec2;
}
mark {
    background-color: #489ec2;
}
a {
    color: orangered;
}
ul{
    padding: 2em;
}


    











/* ELEMENTI NEL MAIN */

/* FOOTER */
