/* IMPOSTAZIONI GENERALI */



h2 {
    color: #489ec2;
    margin: auto;
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
}
 

/* HEADER */
 #header {
    background-color: #489ec2;
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
    border-bottom: solid 0.8em #337492;
 }

 header h2 {
    color: black;
    text-align: center;
 }

 header span{
    background-color: white;
    color: #489ec2;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
 }


/* MAIN */

blockquote {
    background-color: gray;
    border-radius: 1em;
    text-align: center;
    height: 4em;
    
}

hr {
    border-top:1px dotted black;
}


    











/* ELEMENTI NEL MAIN */

/* FOOTER */
